.main__cover{
    display: flex;
    height: 100vh;
}

.btn{
    background-color: #C325E8;
    padding: 18px;
    border-radius: 30px; 
    color: white;
    outline: none;
    border: none;
    font-size: 20px;
    transition: all 0.2s ease;
}

.btn:hover{
    background-color: #af00d6;
    cursor: pointer;
}